@font-face {
  font-family: 'ABC Monument Grotesk Unlicensed Trial';
  src: url('../assets/fonts/ABCMonumentGrotesk-Thin-Trial.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ABC Monument Grotesk Unlicensed Trial';
  src: url('../assets/fonts/ABCMonumentGrotesk-Regular-Trial.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ABC Monument Grotesk Unlicensed Trial';
  src: url('../assets/fonts/ABCMonumentGrotesk-Medium-Trial.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro';
  src: url('https://fonts.cdnfonts.com/s/59298/SFPRODISPLAYSEMIBOLDITALIC.woff') format('woff');
  font-weight: 590;
  font-style: normal;
  font-display: swap;
}
